body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: turquoise;
    margin: 0;

    position: relative; /* Set the parent container to relative to anchor the absolute positioning */
    .image {
    position: absolute; /* Positions the image relative to its first positioned (non-static) ancestor */
    top: -20px; /* Distance from the top */
    right: 0px; /* Distance from the right */
    width: 153px;
    height: 93px;
    }
    
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    height: 120vh;
}

.left-part, .right-part {
    flex: 1;
    min-height: 300px;
    padding: 20px;
    color: #333;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-part {
    background-color: wheat;
    margin-right: -3px;
    border: 3px solid #ffa500;
}

.right-part {
    background-color: #e5b280;
    border-right: 12px solid white;
    border-top: 7px solid white;
    box-shadow: 2px -2px 0px 2px orange;

}

